.container-one{
    width: 50%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hamburger{
    width: 20%;
    /* border: 1px solid red; */
}
.cu{
    width: 80%;
    /* border: 1px solid red; */
}

.container-two{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.toolbr{
    display: flex;
}

.toolbr>*{
    /* border: 2px solid red; */

}